{{/* Root template for AirQualityResponse */}}
{{define "AirQuality"}}

{{with .Current}}🕒  **Current Air Quality**
{{- template "DataField" (dict "Icon" "🟤"   "Label" "PM₁₀"                   "Value" .PM10                "Unit" $.CurrentUnits.PM10)}}
{{- template "DataField" (dict "Icon" "🔴"   "Label" "PM₂.₅"                 "Value" .PM25                "Unit" $.CurrentUnits.PM25)}}
{{- template "DataField" (dict "Icon" "🛢️"  "Label" "CO"                     "Value" .CarbonMonoxide      "Unit" $.CurrentUnits.CarbonMonoxide)}}
{{- template "DataField" (dict "Icon" "☁️"   "Label" "CO₂"                    "Value" .CarbonDioxide       "Unit" $.CurrentUnits.CarbonDioxide)}}
{{- template "DataField" (dict "Icon" "💨"   "Label" "NO₂"                    "Value" .NitrogenDioxide     "Unit" $.CurrentUnits.NitrogenDioxide)}}
{{- template "DataField" (dict "Icon" "⚠️"   "Label" "SO₂"                    "Value" .SulphurDioxide      "Unit" $.CurrentUnits.SulphurDioxide)}}
{{- template "DataField" (dict "Icon" "🟣"   "Label" "O₃"                     "Value" .Ozone               "Unit" $.CurrentUnits.Ozone)}}
{{- template "DataField" (dict "Icon" "📏"   "Label" "Aerosol Optical Depth"  "Value" .AerosolOpticalDepth "Unit" $.CurrentUnits.AerosolOpticalDepth)}}
{{- template "DataField" (dict "Icon" "🏜️"  "Label" "Dust"                   "Value" .Dust                "Unit" $.CurrentUnits.Dust)}}
{{- template "DataField" (dict "Icon" "🌞"   "Label" "UV Index"               "Value" .UVIndex             "Unit" $.CurrentUnits.UVIndex)}}
{{- template "DataField" (dict "Icon" "☀️"   "Label" "UV (Clear Sky)"          "Value" .UVIndexClearSky     "Unit" $.CurrentUnits.UVIndexClearSky)}}
{{- template "DataField" (dict "Icon" "🧪"   "Label" "Ammonia"                "Value" .Ammonia            "Unit" $.CurrentUnits.Ammonia)}}
{{- template "DataField" (dict "Icon" "🔥"   "Label" "Methane"                "Value" .Methane            "Unit" $.CurrentUnits.Methane)}}
{{- template "DataField" (dict "Icon" "🌰"   "Label" "Alder Pollen"           "Value" .AlderPollen        "Unit" $.CurrentUnits.AlderPollen)}}
{{- template "DataField" (dict "Icon" "🌳"   "Label" "Birch Pollen"           "Value" .BirchPollen        "Unit" $.CurrentUnits.BirchPollen)}}
{{- template "DataField" (dict "Icon" "🌾"   "Label" "Grass Pollen"           "Value" .GrassPollen        "Unit" $.CurrentUnits.GrassPollen)}}
{{- template "DataField" (dict "Icon" "🍃"   "Label" "Mugwort Pollen"         "Value" .MugwortPollen      "Unit" $.CurrentUnits.MugwortPollen)}}
{{- template "DataField" (dict "Icon" "🍈"   "Label" "Olive Pollen"           "Value" .OlivePollen        "Unit" $.CurrentUnits.OlivePollen)}}
{{- template "DataField" (dict "Icon" "🌵"   "Label" "Ragweed Pollen"         "Value" .RagweedPollen      "Unit" $.CurrentUnits.RagweedPollen)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI"                 "Value" .EuropeanAQI        "Unit" $.CurrentUnits.EuropeanAQI)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI PM₂.₅"           "Value" .EuropeanAQIPM25   "Unit" $.CurrentUnits.EuropeanAQIPM25)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI PM₁₀"           "Value" .EuropeanAQIPM10   "Unit" $.CurrentUnits.EuropeanAQIPM10)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI NO₂"           "Value" .EuropeanAQINO2    "Unit" $.CurrentUnits.EuropeanAQINO2)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI O₃"            "Value" .EuropeanAQIOzone  "Unit" $.CurrentUnits.EuropeanAQIOzone)}}
{{- template "DataField" (dict "Icon" "🇪🇺"   "Label" "EU AQI SO₂"           "Value" .EuropeanAQISO2    "Unit" $.CurrentUnits.EuropeanAQISO2)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI"                "Value" .USAQI             "Unit" $.CurrentUnits.USAQI)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI PM₂.₅"          "Value" .USAQIPM25         "Unit" $.CurrentUnits.USAQIPM25)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI PM₁₀"          "Value" .USAQIPM10         "Unit" $.CurrentUnits.USAQIPM10)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI NO₂"          "Value" .USAQINO2          "Unit" $.CurrentUnits.USAQINO2)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI O₃"           "Value" .USAQIOzone        "Unit" $.CurrentUnits.USAQIOzone)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI SO₂"          "Value" .USAQISO2          "Unit" $.CurrentUnits.USAQISO2)}}
{{- template "DataField" (dict "Icon" "🇺🇸"   "Label" "US AQI CO"           "Value" .USAQICarbonMonoxide   "Unit" $.CurrentUnits.USAQICarbonMonoxide)}}
{{end}}
{{end}}

{{/* Single float field */}}
{{define "DataField"}}
{{- if ne .Value 0.0 }}
{{- printf "%s %s: %s" .Icon .Label (formatFloat .Value)}}{{if .Unit}} {{- .Unit}}{{end}}
{{- end}}
{{end}}
